auto-save-list/
server/
eshell/
elpa/
url/
tramp
.mc-lists.el
bookmarks
recentf
projectile*
transient/
amx-items
pyim/
.cache/
.dap-breakpoints
.lsp-session-v1
.org-id-locations
eclipse.jdt.ls/
meghanada/
workspace/
projects
